@charset "UTF-8"
*{
  font-family: Arial, Helvetica, sans-serif;
}

p{
  text-align: justify;
}
h1{
  color: #10403B;
  text-align: center;
  text-shadow: 1px 1px 2px;
}
h2{
  color: #127369e3;
}

body{
  background-image: linear-gradient(to right,#4c5958,#bfbfbf); 
}
main{
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  width: 600px;
  padding: 10px;
  margin: auto;
}